@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background: pink;
    height: 100vh;
}
header{
    background-color:pink ;
}
h1{
    color:#DE5B6D;
    padding: 10px;
}
#menu{
    border-bottom: 4px solid #DE5B6D;
}
#banner{
    margin-top: 90px;
}
#banner h1{
    font-size:8vh ;
    color: white;
}
#banner p{
    font-size: 2.6vh;
}