@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background: pink;
    height: 100vh;
}

h1{
    color:#DE5B6D;
    padding: 10px;
}
nav ul li